.nav {
  background-color: black;
  height: 30px;
  width: 100%;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0 auto;
  min-width: 400px;
  width: 30%;
}

li {
  display: inline-block;
  margin-right: 20px;
}

a {
  color: white;
}
